h1 {
  text-align: center;
  margin: 20px;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  font-size: 20px;
}

h3 {
  text-align: left;
  font-size: 35px;
}

h4 {
  font-size: 18px;
}

ul {
  padding: 0 5;
}

li {
  font-size: 14px;
  list-style: none;
}

.forecast span {
  font-size: 30px;
}

small {
  text-align: left;
  font-size: 12px;
  display: block;
  margin: 20px;
}

.now,
.tomorrow {
  text-align: left;
}

.icon {
  text-align: right;
  font-size: 60px;
}

.now-tomorrow,
.search-bar,
.next-four-days {
  padding: 20px;
}

.next-days {
  text-align: center;
}

.temp {
  padding-left: 30px;
}

.weather-app {
  border: 1px solid #7787;
  padding: 10px;
  margin: 20px;
  max-width: 800px;
}

#search-button {
  background-color: rgb(93, 93, 201);
  color: white;
}

#current-location,
#search-button {
  padding: 2px 20px;
  border: 1px solid #4a3c7c;
  border-radius: 3px;
}

#current-location {
  background-color: white;
}

#current-time {
  text-align: right;
}

#description {
  font-size: 14px;
}

#description::first-letter {
  text-transform: capitalize;
}
